.container__card{
    display: flex;
    flex-direction: column;
    gap: 6rem;
    
   
    &--simple-height{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        &__standard{
            max-width: 35.5rem ;
            position: relative;
        }
    }
    &--buy-description{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 8rem;
        background-color: var(--blue-primary);
        &__standard{
            border: .2rem solid var(--gray-2);
            width: 35.5rem;
            height: 53.3rem;
            gap: 2rem;
            text-align: center;
            padding: 2rem 2.8rem ;
            &--2{
                background-color: var(--blue-primary);
                color: var(--white);
            }
            ul{
                list-style : none;
                padding:  3rem 0 6rem 0;
                line-height: 4rem;
            }
        }
    }

    &--simple-height-long{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        &__standard{
            max-width:  26.4rem  ;
            position: relative;
        }
    }
    &--big{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        &__standard{
            max-width: 55.8rem ;
            position: relative;
        }
    }
    &--buy-good{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: var(--white);
        &__standard{
            border: .2rem solid var(--gray-2);
            width: 35.5rem;
            height: 53.3rem;
            gap: 2rem;
            text-align: start;
            padding: 2rem 2.8rem ;
            &--2{
                background-color: var(--white);
                color: var(--black);
            }
            ul{
                list-style : none;
                padding:  3rem 0 6rem 0;
                line-height: 4rem;
                text-align: start;
            }
        }
    }
    &--buy-simple{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        background-color: var(--white);
        &__standard{
            border: .2rem solid var(--gray-2);
            width: 35.5rem;
            height: 53.3rem;
            gap: 2rem;
            text-align: start;
            padding: 2rem 2.8rem ;
            &--2{
                background-color: var(--blue-primary);
                color: var(--white);
            }
            ul{
                list-style : none;
                padding:  3rem 0 6rem 0;
                line-height: 4rem;
                text-align: start;
            }
            &-text{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-bottom: 1rem;
            }
        }
        

    }
    
}