.container__button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 5rem 4rem;
    width: 100%;
    &--shadow-yellow{
        position: relative;
        width: 16rem;
        height: 5rem;
    }
    
    &--double-border-solid{
        position: relative;
        width: 16rem;
        height: 5rem;
        
    }
    &--double-border-dashed{
        position: relative;
        width: 16rem;
        height: 5rem;
    }
    &--border-top-bottom-dashed{
        position: relative;
        width: 16rem;
        height: 5rem;
    }
    &--four-border-part{
        position: relative;
        width: 16rem;
        height: 5rem;
    }
}