.card{

}

.card.card--container-content{
    position: absolute;
    width: 46.6rem;
    height: 20.3rem; /* **** */
    right: 0;
    bottom: 0;
    border: 0;
    border-radius: 2.4rem 0 0 0;
    padding: 2.4rem;
    text-transform: capitalize;
    @media screen and (max-width: 991px) {
        &{
            left: 50%;
            right: 50%;
            transform: translate(-50%,-50%) translateY(14rem);
            border-radius: 2.4rem;
            padding: 2.4rem;
        }
    }
    @media screen and (max-width: 575px) {
        &{
            position: absolute;
            width: 30.6rem;
            height: 20.3rem; /* **** */
            left: 50%;
            right: 50%;
            transform: translate(-50%,-50%) translateY(14rem);
            bottom: 0rem;
            border: 0;
            border-radius: 2.4rem;
            padding: 2.4rem;
        }
    }
    .card__stats{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3rem; 
        gap: 2rem;
        @media screen and (max-width: 575px) {
            &{       
                 gap: 0.1rem;
            }
         
        }
    }
    
    .card__stat{
        width: 100%;
    }
    
}

.card.card--normal{
    position: relative;
    max-width: 46rem ;  
}

.card.card--simple-normal{
        max-width: 26.4rem  ;
        position: relative;
}

.card--rounded-profils{
    display: flex;
    flex-direction: row;
    max-width: 40.4rem  ;
    gap: 2rem;
    align-items: start;
}

.card.card--buy-one{
        max-width: 54.7rem  ;
        gap: 2rem;
        text-align: center;
        padding: 8.8rem;
}

.card.card--buy-two{
        max-width: 54.7rem  ;
        gap: 2rem;
        text-align: center;
        padding: 8.8rem;
        background-color: var(--blue-primary);
        color: var(--white);
}

.card.card--simple-content{
    max-width: 36rem  ;
    position: relative;
    .card__content{
        padding-left: 2rem;
        border: .4rem solid var(--gray-2);
    }    
}

.card.card--content{          
    max-width: 26.1rem  ;
    gap: 2rem;
    text-align: center;
    padding: 3.6rem;
        background-color: var(--blue-primary);
        color: var(--white);

}

.card.card--content-profils{          
    max-width: 35.5rem  ;
    gap: 2rem;
    text-align: center;
    padding: 1.6rem;
    background-color: var(--blue-primary);
    color: var(--white);
    .card__container-content{
        display: flex;
        flex-direction: row;
        max-width: 40.4rem  ;
        gap: 1rem;
        align-items: start;
        padding-top: 2rem;
    }
}

.card.card--simple-height{
    max-width: 35.5rem ;
    position: relative;
}

.card.card--buy-description{
    border: .2rem solid var(--gray-2);
    width: 35.5rem;
    height: 53.3rem;
    gap: 2rem;
    text-align: center;
    padding: 2rem 2.8rem ;
    .card__list{
        list-style : none;
        padding:  1rem 0 2rem 0;
        line-height: 4rem;
    }
}

.card.card--buy-description-none{
    border: .2rem solid var(--gray-2);
    width: 35.5rem;
    height: 53.3rem;
    gap: 2rem;
    text-align: center;
    padding: 2rem 2.8rem ;
    background-color: var(--blue-primary);
    color: var(--white);
    
    .card__list{
        list-style : none;
        padding:  1rem 0 2rem 0;
        line-height: 4rem;
    }
}

.card.card--simple-height-long{
    max-width:  26.4rem  ;
    position: relative;
}

.card.card--big{
    max-width: 55.8rem ;
    position: relative;
}

.card.card--buy-good{
    border: .2rem solid var(--gray-2);
    width: 35.5rem;
    height: 53.3rem;
    gap: 2rem;
    text-align: start;
    padding: 2rem 2.8rem ;
    background-color: var(--white);
    color: var(--black);
    .card__list{
        list-style : none;
        padding:  1rem 0 2rem 0;
        line-height: 4rem;
        text-align: start;
    }
}

.card.card--buy-simple{
    border: .2rem solid var(--gray-2);
    width: 35.5rem;
    height: 53.3rem;
    gap: 2rem;
    text-align: start;
    padding: 2rem 2.8rem ;
    background-color: var(--blue-primary);
    color: var(--white);
    .card__list{
        list-style : none;
        padding:  1rem 0 2rem 0;
        line-height: 4rem;
        text-align: start;
    }
    .card__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
}

.card.card--buy-color{
    border: .2rem solid var(--gray-2);
    width: 35.5rem;
    height: 53.3rem;
    gap: 2rem;
    text-align: start;
    padding: 2rem 2.8rem ;
  
    .card__list{
        list-style : none;
        padding:  1rem 0 2rem 0;
        line-height: 4rem;
        text-align: start;
    }
    .card__title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 1rem;
    }
}