.cta{

}

.cta--container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    gap: 8rem;
    padding: 5rem 4rem;
    width: 100%;

}

// heigth 62
/* 1 */
.cta.cta--bg-black{
    display: flex;
    flex-direction: row;
    padding: 2.15rem 3rem;
    gap: 1rem;
    border-radius:3.2rem ;
    font-size: 1.6rem;
    background-color: var(--black);
    color : var(--white);
    text-decoration: none;
    .cta--icons{
        padding: 0 1rem;
    }
    &:hover{
        transition: all .5s;
        background-color: var(--black-1);
    }
    &:hover .cta--icons{
        transition: all .5s;
        transform: translateX(.5rem);
    }
}

/* 2 */
.cta.cta--shadow-yellow{
    position: relative;
    width: 16rem;
    height: 5rem;
    .cta__button{
        position: absolute;
        padding: 1.2rem 3rem;
        font-size: 1.4rem;
        color : var(--black);
        z-index: 10;
        border: .2rem solid black;
        background-color: transparent;
    }
    .cta__back{
        position: absolute;
        width: 14rem;
        height: 4.4rem;
        background-color: var(--yellow);
        z-index: 5;
        transform: translateX(.6rem) translateY(.6rem);
    }
    &:hover .cta__back{
        transition:  all .5s;
        transform: translateX(.1rem) translateY(.1rem);
    }
}

/* 3 */
.cta.cta--double-border-solid{
    position: relative;
    width: 16rem;
    height: 5rem;
    .cta__button{
        position: absolute;
        background-color: var(--white);
        padding: 1.2rem 3rem;
        border: .1rem var(--gray-1) solid;
        cursor: pointer !important;
    }
    .cta__back{
        position: absolute;
        width: 15.9rem;
        height: 5.5rem;
        border: .2rem var(--black) solid;
        z-index: -5;
        transform: translateX(-0.4rem) translateY(-0.5rem);
    }
    &:hover .cta__back{
        width: 14.9rem;
        height: 4.5rem;
        transition: all .5s;
        transform: translateX(0rem) translateY(0rem);

    }
}

/* 4 */
.cta.cta--double-border-dashed{
    position: relative;
    width: 16rem;
    height: 5rem;
    .cta__button{
        position: absolute;
        background-color: var(--white);
        padding: 1.2rem 3rem;
        border: .2rem var(--black) solid;
        cursor: pointer !important;
    }

    .cta__back{
        position: absolute;
        width: 15rem;
        height: 4.5rem;
        border: .3rem var(--yellow) dashed;
        transform: translateX(.5rem) translateY(.5rem);
        z-index: -1;
    }
    &:hover .cta__back{

        width: 14.9rem;
        height: 4.5rem;
        transition: all .5s;
        transform: translateX(0rem) translateY(0rem);

    }
}

/* 5 */
.cta.cta--border-dashed{
    background-color: var(--white);
    padding: .6rem .8rem .6rem 3rem;
    border: .2rem var(--black) dashed;
   
    .cta__icons{
        padding: .8rem;
    }
    &:hover{
        transition: all .5s;
        transform:  scale(1.04);
    }
    &:hover .cta__icons{
        transition: all .5s;
        transform: translateX(.5rem);
    }
}

/* 6 */
.cta.cta--box-shadow{
    background-color: var(--white);
    padding: 1rem 3rem 1rem 3rem;
    border: .2rem var(--black) solid;
    box-shadow: .2rem .2rem .1rem var(--black);
    .cta__container{
        position: absolute;
        background-color: var(--black);
        border-radius: 100%;
        padding:  .1rem .8rem;
        transform: translateX(2rem);   
    }
    .cta__icons{
            color: var(--white);
            font-size: 1.2rem;
            padding-bottom: .4rem;
    }
    &:hover{
        transition: all .5s;
        box-shadow: 0rem 0rem 0rem var(--black);
    }

    &:hover .cta__container{
        transition: all .5s;
        transform: scale(1.1) translateX(1.7rem);        }
}

/* 7 */
.cta.cta--arrow{
    background-color: var(--white);
    padding: 1rem 3rem 1rem 3rem;
    border: .2rem var(--black) solid;
    .cta__container{
        position: absolute;
        border-radius: 100%;
        padding:  .1rem .5rem;
        transform: translateX(20px);
    }
    .cta__icons{
        font-size: 1.6rem;
        padding-bottom: .4rem;
        
    }
    &:hover .cta__icons{
            transform: rotate(360deg) translateX(.5rem) ;
            transition: all .5s;
    }
}

/* 8 */
.cta.cta--border-top-bottom-dashed{
    position: relative;
    width: 16rem;
    height: 5rem;
    .cta__button{
        position: absolute;
        padding: 1.2rem 3rem;
        font-size: 1.4rem;
        color : var(--white);
        z-index: 10;
        background-color: transparent;
        border-top: dotted .2rem var(--white);
        border-bottom: dotted .2rem var(--white);
        border-left: dotted 0rem var(--white);
        border-right: dotted 0rem var(--white);    
    }
    .cta__back{
        position: absolute;
        width: 14.2rem;
        height: 5.3rem;
        background-color: var(--black);
        z-index: 5;
        transform:  translateY(-0.4rem);
        
    }
    &:hover .cta__button {
      color: var(--black);     
    }
    &:hover .cta__back {
        transition: all .5s;
        border-top: dotted .2rem var(--black);
        border-bottom: dotted .2rem var(--black);   
        background-color: var(--white);
    }
}

/* 9 */
.cta.cta--simple-shadow{
    display: flex;
    flex-direction: row;
    padding: 1.2rem 3rem;
    gap: 1rem;
    border: 0;
    border-radius:3.2rem ;
    font-size: 1.4rem;
    background-color: var(--white);
    box-shadow: .3rem .3rem .4rem var(--gray-1);
    color : var(--black);
    &:hover{
        transition: all .5s;
        background-color: var(--black);
        color : var(--white);
        box-shadow: .3rem .3rem .4rem var(--gray-2);
    }
}

/* 10 */
.cta.cta--border-top-bottom{
    background-color: var(--white);
    padding: .6rem .8rem .6rem 3rem;
    border-left:0 ;
    border-right:0 ;
    border-bottom: .2rem var(--black) solid;
    border-top: .2rem var(--black) solid;
    .cta__icons{
        padding: .8rem;
    }
    &:hover .cta__icons{
        transform: translateX(.5rem);
        transition: all .5s;
    }
}

/* 11 */
.cta.cta--four-border-part{
    position: relative;
    width: 16rem;
    height: 5rem;
    .cta__button{
        display: flex;
        flex-direction: row;
        padding: 1.5rem 3rem;
        gap: 1rem;
        border: 0 ;
        font-size: 1.4rem;
        color : var(--black);
        cursor: pointer;
        background-color:  var(--gray);
    }
   
    .cta__part-one{
        position: absolute;
        border-top:.2rem solid  var(--black) ;
        width: 10rem;
        height: .2rem;
        padding: 0rem;
        cursor: pointer;
        transform:  translateX(-1rem) translateY(-4.5rem);
    }

    .cta__part-two{
        position: absolute;
        border-bottom:.2rem solid  var(--black) ;
        width: 4rem;
        height: .2rem;
        padding: 0rem;
        cursor: pointer;
        transform: rotate(90deg) translateX(-3.5rem) translateY(2rem);
    }

   .cta__part-three{
        position: absolute;
        border-top:.2rem solid  var(--black) ;
        width: 4rem;
        height: .2rem;
        padding: 0rem;
        cursor: pointer;
        right: 0;
        transform: rotate(90deg) translateX(-1.2rem) translateY(.2rem);
    }

   .cta__part-four{
    
        position: absolute;
        border-top:.2rem solid  var(--black) ;
        width: 10rem;
        height: .2rem;
        padding: 0rem;
        cursor: pointer;
        right: 0;
        transform:  translateX(-1.5rem);
    }

    &:hover .cta__part-one{
        transform:  translateX(0rem) translateY(-4.5rem);
        transition: all .5s;

    }
    &:hover .cta__part-two{
        transform: rotate(90deg) translateX(-2.6rem) translateY(2rem);
        transition: all .5s;
       
    }
    &:hover .cta__part-three{
        transform: rotate(90deg) translateX(-1.9rem) translateY(.2rem);
        transition: all .5s;

    }
    &:hover .cta__part-four{
        transform:  translateX(-2.1rem);
        transition: all .5s;

    }
}

/* 12 */
.cta.cta--border-slash{
   .cta__button{
        background-color: var(--white);
        padding: 1rem 3rem 1rem 3rem;
        border: .2rem var(--black) solid;
    }
    .cta__border-one{
        position: absolute;
        border-top:.2rem solid  var(--black) ;
        width: 4rem;
        height: 2rem;
        padding: 2rem;
        transform: rotate(135deg) translateY(14.6rem) translateX(10.8rem);
        background-color: var(--white) ;
        z-index: 5;

    }
    .cta__border-two{
        position: absolute;
        border-bottom:.2rem solid  var(--black) ;
        width: 3rem;
        height: .2rem;
        padding: 2rem;
        transform: rotate(135deg) translateX(3rem) translateY(-0.8rem);
        background-color: var(--white);
        z-index: 5;
    }
     &:hover .cta__border-one{
        transform: rotate(90deg) translateY(19rem) translateX(.0rem);
        transition: all .5s;
        background-color: transparent;

    }
    &:hover .cta__border-two{
        transform: rotate(90deg) translateX(.0rem) translateY(-.0rem);
        transition: all .5s;
        background-color: transparent;
    }
}

/* 13 */
.cta.cta--icons-priority{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .2rem 2rem .2rem .4rem;
    gap: 1rem;
    border-radius:3.2rem ;
    font-size: 1.4rem;
    background-color: var(--white);
    color : var(--black);
    .cta__icons{
        padding: 1.2rem 1.4rem;
        border-radius: 100%;
        background-color: var(--black);
        color: var(--white);
    }
    
    &:hover .cta__icons{
        transform: translateX(.5rem);
        transition: all .5s;
    }
}

/* 14 */
.cta.cta--bg-linear-gradient{
    padding: 1.2rem 3rem ;
    border-radius:3.2rem ;
    font-size: 1.4rem;
    border: 0;
    color : var(--white);
    background-image: linear-gradient(to right , var(--blue-cyan-) ,  var(--blue-dark-) );
    &:hover{
        transform: scale(1.1);
        transition: all .5s;
    }
}

/* 15 */
.cta.cta--border-linear-gradient-border-text {
    position: relative;
    padding: 1.2rem 3rem;
    display: inline-block;
    border-radius: 50px;
    overflow: hidden; 
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 5rem;
      padding: .3rem; 
      background: linear-gradient(45deg, var(--blue-cyan), var(--blue-cyan-dark));
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
              mask-composite: exclude;
      pointer-events: pointer;
      z-index: 0;
    }

    .cta__text {
      position: relative;
      z-index: 1;
      background: linear-gradient(90deg, var(--blue-cyan), var(--blue-cyan-dark));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &:hover{
        transform: scale(1.1);
        transition: all .5s;
    }
}

/* 16 */
.cta.cta--border-bottom-icons{
    border: 0;
    background-color: var(--white);
    padding: 1rem 4rem 1rem 1rem;
    border-bottom: .2rem var(--black) solid;
    .cta__icons-container{
        position: absolute;
        border: .2rem solid var(--black);
        border-radius: 100%;
        padding:  .1rem .8rem;
        transform: translateX(1rem)  translateY(-.5rem);
        background-color: var(--yellow);   
    }
    .cta__icons{
        color: var(--black);
        font-size: 1.2rem;
        padding-bottom: .4rem;
    }
    &:hover .cta__icons-container{
        transform: translateX(1.5rem)  translateY(-.5rem);
        transition: all .5s;
    }
}

/* 17 */
.cta.cta--cercle-back{
    position: relative;
    background-color: var(--white);
    padding: 1rem 1.8rem 1.4rem 1rem;
    background-color: white;
    border: 0;
    z-index: 4;
    .cta__img{
        width: 2rem;
        height: 2rem;
    }
    .cta__icons{
        position: absolute;
        font-size: 3rem;
        z-index: -1;
        top: 0;
        transform: translateX(2rem) translateY(.4rem);
    }
    .cta__icons-cercle{
        position: absolute;
        font-size: 6rem;
        z-index: -2;
        transform: rotate(-90deg) translateX(2rem) translateY(-2rem);        
    }

    &:hover .cta__icons {
        transition: all .5s;
        transform: translateX(3.5rem) translateY(.4rem);
    }
}

/* 18 */ 
.cta.cta--dot-arrow{
    background-color: var(--white);
    padding: .6rem .8rem .6rem 3rem;
    border:0 ;

    .cta__icons{
        padding: .8rem;
    }
    .cta__button{
        position: absolute;
        transform: translateX(-2rem) translateY(1.3rem);
        border-radius: 100%;
        width: 1rem;
        height:  1rem;
        padding: .2rem;
        background-image: linear-gradient(to right , var(--blue-cyan-) ,  var(--blue-dark-) );
    }
    &:hover .cta__icons {
        transition: all .5s;
        transform: translateX(.5rem);
    }
    &:hover .cta__button {
        transition: all .5s;
        transform: scale(1.8) translateX(-1.5rem) translateY(.6rem);
    }
}


.cta.cta--simple {
    padding: 0.8rem 2.1rem;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    background-color: $color-white !important;
    color: $color-black;
  
    &:hover {
      background-color: $color-white--2 !important;
      transition: all .5s;
    }
  }
  
  .cta.cta--hover-reverse {
    padding: 0.8rem 2.1rem;
    border-radius: 3.2rem;
    font-size: 1.6rem;
    border: 0.2rem solid $color-white;
    background-color: $color-transparent;
    color: $color-white;
  
    &:hover {
      border: 0.2px solid $color-white;
      background-color: $color-white;
      color: $color-black;
      transition: all .5s;
    }
  }
  
  .cta.cta--simple-big {
    padding: 1.4rem 2.1rem;
    border-radius: 3.2rem;
    border: 0;
    font-size: 1.6rem;
    background-color: $color-primary !important;
    color: $color-white;
   
    &:hover {
      transform: scale(1.04);
      transition: all .5s;
    }
  
    @media screen and (max-width: 575px) {
      & {
        padding: 0.4rem 2.1rem;
        border-radius: 3.2rem;
        font-size: 1.4rem;
      }
    }
  }
  
  .cta.cta--subscriber {
    padding: 1rem 1.8rem;
    border-radius: 5rem;
    border: 0;
    font-size: 1.2rem;
    background-color: $color-white;
  
    &:hover {
      transform: scale(1.04);
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-blue {
    padding: 1rem 2rem;
    border: 0;
    font-weight: 500;
    background-color: var(--blue-primary);
    color: var(--white);
  
    &:hover {
      background-color: var(--blue-primary-hover);
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-white {
    padding: 1rem 2rem;
    border: 0;
    font-weight: 500;
    background-color: var(--white);
  
    &:hover {
      background-color: var(--gray-2);
      transition: all .5s;
    }
  }
  
  .cta.cta-nostyle {
    padding-top: 5rem;
    border: 0;
    font-weight: 500;
    background-color: var(--white);
  
    &:hover {
      background-color: var(--gray-2);
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-w-full {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0;
    box-shadow: 0.4rem 0.4rem 4rem var(--gray-1);
    font-weight: 500;
    background-color: var(--white);
  
    &:hover {
      background-color: var(--gray-2);
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-w-full-blue {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0;
    box-shadow: 0.4rem 0.4rem 4rem var(--gray-1);
    font-weight: 500;
    background-color: var(--blue-primary);
    color: var(--white);
  
    &:hover {
      background-color: var(--blue-primary-hover);
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-none {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0.2rem solid var(--white);
    font-weight: 500;
    background-color: var(--transparent);
    color: var(--white);
  
    &:hover {
      background-color: var(--white);
      color: black;
      transition: all .5s;
    }
  }
  
  .cta.cta--buy-b-black {
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border: 0.2rem solid var(--gray-1);
    font-weight: 500;
    background-color: var(--transparent);
    color: var(--black);
  
    &:hover {
      background-color: var(--gray-2);
      transition: all .5s;
    }
  }  