.img{

}

.img.img--content{
    position: absolute;
    width: 45%;
    height: 53.6rem;
    z-index: -1;
    object-fit: cover;
    border: 2px solid black;
}
.img.img--desert{
    position: absolute;
    width: 45%;          
    height: 53.6rem;
    z-index: -1;
    object-fit: cover;
    border: 2px solid rgb(0, 255, 76);
}
.img.img--person-one{
    width: 3rem;
    height: 3rem;
    border: white;
    border-radius: 100%;
    background-color: $color-white;
}
.img.img--person-two{
    position: absolute;
    transform: translateX(-1rem);
    width: 3rem;
    height: 3rem;
    border: white;
    border-radius: 100%;
    background-color: $color-white;
    
}
.img.img--person-three{
    position: absolute;
    transform: translateX(1rem);
    width: 3rem;
    height: 3rem;
    border: white;
    border-radius: 100%;
    background-color: $color-white;
}
.img.img--header-person{
    width: 6rem;
    height: 7.8rem;
    border-radius: 8px;
}
.img.img--card-normal{
    height: 25.7rem;
    object-fit: cover;
    width: 46rem ;
}
.img.img--card-simple-normal{
    height: 34.7rem;
    object-fit: cover;
    width: 26.4rem ;
}
.img.img--card-round{
    height: 6rem;
    object-fit: cover;
    width: 6rem ;
    border-radius: 100%;
}
.img.img--card-simple-content{
    height: 30rem;
    object-fit: cover;
    width: 36rem ;
}
.img.img--card-simple-height{
    height: 46.9rem;
    object-fit: cover;
    width: 35.5rem ;
}
.img.img--card-simple-height-long{
    height: 46.9rem;
    object-fit: cover;
    width:  26.4rem  ;
}
.img.img--card-big{
    height: 55rem ;
        object-fit: cover;
    max-width:  55.8rem  ;
}